@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Fira+Sans&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Fira+Sans&family=Poppins:wght@500&family=Source+Code+Pro:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    
}

.sidebar {
    background-color: rgb(71, 67, 67);
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    width: 335px;

} 
.sidebar nav {
    padding: 40px;
}
.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding: 20px;
}
.sidebar nav li a {
    text-decoration: none;
    color: white;
}
.main {
    /* background-color: aqua; */
    width: 90vw;
}
.container {
    display: flex;
}
.infoContainer{
    /* background-color: rgb(202, 9, 128); */
    height: 47vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 65px;
}
.name {    
    font-size: 50px;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
}
.about {
    font-size: 40px;
}
.moreAbout {
    font-size: 29px;
    font-family: 'Fira Sans', sans-serif;
}
.buttons {
    margin-top: 34px;
}
.buttons button {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(113, 113, 197);
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}
.buttons button:hover {
    color: rgb(150, 193, 236); ;
    background-color: gray

}

.devPic img {
    width: 65vh;
    height: 58vh;
    mix-blend-mode: darken;
    margin-bottom: 500px;
}
.contactform h1{
    font-family: 'Fira Sans', sans-serif; 
    padding-top: 144px;
}
.contactform {
    padding: 19px;
}
.contactform form div {
    padding: 17px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div {
    width: 16vw;
    border-radius: 5px;
    margin: 6ox 0;
    padding: 3px;

}
#emailHelp {
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
}
.contactform form div input{
    width: 16vw;
    margin: 6px 0;
    border-radius: 5px;
    padding: 3px;
}
#emailHelp {
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
}
.form-check {
    flex-direction: row;

}
.form-check input {
    width: 24px;
    margin: 3px 0;
}
.blogItem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}
 h1{
    margin: 23px;
   font-family: 'Fira Sans', sans-serif; 
} 

 p{
    font-family: 'Source Code Pro', monospace;
}
.intro h2 {
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}
.into p {
   font-family: 'Source Code Pro', monospace; 
   margin: 12px;
}
.skillcontainer {
   padding: 10px;
}
.skill{
    width: 256px;
    height: 8px;
    background-color: red;
}
.skillItem {
    display: flex;
    align-items: center;
    padding: 10px;
}
